# Simulation

In this notebook we aim to complete three simulation processes
* the travel time form zone i to zone j start from time k
* the number of travels from zone i to zone j at time k
* find out the correlation of fare on travel distance and travel time

If two trips that start and end in same zone, and begin from same time, we can assume it takes similar times to complete.

## Zone to zone time simulation

In this section we aim to simulate the time it takes for a ride from zone to zone at specific time. This section consists of three parts:
* gather rides that have same pickup and dropoff zones
* apply empirical distribution to simulate PDF
* simulate potential time for rides

### Data import and environment setup

In [1]:
import pandas as pd
import numpy as np
import bisect
import random
import math
from scipy.interpolate import interp1d
from sklearn.linear_model import LinearRegression

# set specific seed for reproduction
random.seed(0)

In [2]:
# import cleaned data from taxi_preprocessing.ipynb
data = pd.read_csv("nyc_data_cleaned.csv")
number_of_zone = len(data["pickup_zone"].unique())
data

,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,total_amount,pickup_hour,pickup_minute,pickup_second,...,dropoff_minute,dropoff_second,pickup_timestamp,dropoff_timestamp,pickup_latitude_count,pickup_longitude_count,dropoff_latitude_count,dropoff_longitude_count,pickup_zone,dropoff_zone
0,1801,5.0,-74.013359,40.714722,-73.972649,40.764694,23.5,18,30,59,...,1,57,66659,68517,2,1,7,5,2,23
1,172,1.0,-73.964958,40.760021,-73.971352,40.751297,7.0,19,19,7,...,22,40,69547,69760,7,6,6,5,24,19
2,260,2.0,-73.960114,40.762142,-73.974434,40.744308,8.5,2,31,6,...,34,46,9066,9286,7,7,5,5,25,15
3,521,2.0,-73.968163,40.802277,-73.984322,40.780106,9.0,12,20,6,...,29,27,44406,44967,11,6,9,4,39,31
4,512,3.0,-73.973289,40.792690,-73.973602,40.763554,10.5,6,9,0,...,18,0,22140,22680,10,5,7,5,36,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347809,907,7.0,-74.005219,40.720135,-73.951187,40.770283,27.0,23,59,49,...,14,56,86389,896,3,2,8,7,5,29
347810,465,2.0,-73.992271,40.729198,-73.975388,40.757710,10.0,23,59,50,...,7,35,86390,455,4,3,6,5,9,19
347811,395,2.0,-73.987450,40.757973,-74.003304,40.750622,8.0,23,59,51,...,6,26,86391,386,6,4,6,2,18,16
347812,948,2.0,-73.993874,40.742134,-73.967232,40.756779,16.2,23,59,58,...,15,46,86398,946,5,3,6,6,13,20
347813,258,1.0,-73.989632,40.741730,-73.990150,40.729553,6.5,23,59,59,...,4,17,86399,257,5,4,4,3,14,9

### Time simulation

In [3]:
# setup a 3-dimensional list to store the simulated result
simulated_time = [
    [
        [0] * (60 * 24) for _ in range(number_of_zone)
    ] for _ in range(number_of_zone)
]

`simulated_time[i][j][k]` means the travel time from zone i to zone j at start_time k.

***Below part can be accelarated***

In [4]:
# a helper function to determine the PDF of empirical distribution of travel_time
# and then do simulation
def empirical_simulation(i, j, t, travel_time, average_time):
    
    # if no data is provided, use the average travel time of the day
    if len(travel_time) == 0:
        simulated_time[i][j][t * 60: (t + 1) * 60] = [average_time] * 60
        return
    
    # simulate ecdf on given time for rides
    ecdf = np.cumsum(np.bincount(travel_time)) / len(travel_time)
    interp_func = interp1d(ecdf,
                           np.arange(len(ecdf)),
                           kind='linear',
                           bounds_error=False,
                           fill_value='extrapolate')

    # generate 60 random samples from the fitted distribution
    # so that each trips start from each minute is simulated in this hour
    samples = interp_func(np.random.uniform(low=0, high=1, size=60*24))
    simulated_time[i][j][t * 60: (t + 1) * 60] = list(samples)

In [5]:
for i in range(number_of_zone):
    for j in range(number_of_zone):
        df = data[(data["pickup_zone"] == i)
                  & (data["dropoff_zone"] == j)]
        average_travel_time = df["trip_time_in_secs"].mean()
        
        # t stands for hour information
        for t in range(24):
            
            # df_sub includes only the rides from zone i to zone j during t:t+1 hour
            df_sub = data[(data["pickup_zone"] == i)
                          & (data["dropoff_zone"] == j)
                          & (data["pickup_hour"] == t)]
        
            # get all the travel time for rides
            cur_travel_time = np.array(df_sub["trip_time_in_secs"]).astype(np.int64)
            empirical_simulation(i, j, t, cur_travel_time, average_travel_time)

Therefore, the `simulated_time` is implemented and is easily accessible.

## Zone to zone trip simulation

In this part we are dealing with simulation on the number of trips. It follows similar ideas to the previous part.

In [6]:
# setup a 3-dimensional list to store the simulated result
simulated_trip = [
    [
        [0] * (60 * 24) for _ in range(number_of_zone)
    ] for _ in range(number_of_zone)
]

In [7]:
# a helper function to determine the PDF of empirical distribution of travel_time
# and then do simulation
def trip_simulation(i, j, t, travel_count):
    samples = np.random.multinomial(travel_count, np.ones(60) / 60)
    simulated_trip[i][j][t * 60: (t + 1) * 60] = list(samples)

In [8]:
for i in range(number_of_zone):
    for j in range(number_of_zone):
        for t in range(24):
            
            # df_sub includes only the rides from zone i to zone j during t:t+1 hour
            df_sub = data[(data["pickup_zone"] == i)
                          & (data["dropoff_zone"] == j)
                          & (data["pickup_hour"] == t)]
        
            # get all the travel time for rides
            cur_trip_number = len(df_sub)
            trip_simulation(i, j, t, cur_trip_number)

Therefore, the `simulated_trip` is implemented and is easily accessible.

We'd also like to find out how long it takes to get next available order in each zone.

In [9]:
# create a 2-dimensional list to store the waiting time
wait_time = [
    [0] * (60 * 24) for _ in range(number_of_zone)
]

for i in range(number_of_zone):
    have_trip = [False] * (60 * 24)
    prev = -1
    
    for k in range(60 * 24 - 1, -1, -1):
        trip = False
        for j in range(number_of_zone):
            if simulated_trip[i][j][k]:
                trip = True
                break
        
        if trip:
            prev = k
            continue
            
        if prev == -1:
            wait_time[i][k] = -1
        else:
            wait_time[i][k] = prev - k

In [10]:
# on contrary, create a function to define what are the available zones to go
def available_trip(i, k):
    ans = []
    for j in range(number_of_zone):
        if simulated_trip[i][j][k]:
            ans.append(j)
    return ans

## Ride fare simulation

In this part we are dealing with simulation of fare for each ride. Conventionally, we believe fare is related to the distances of the ride and the time spent on the ride.

We will fit a linear regression model to find out this correlation. Moreover, we will provide distance information between zones so that price could be simulated for each simulated ride.

We aim to fit the following model:

$$\text{Fare} = \beta_0 + \beta_1 \text{Distance} + \beta_2 \text{Time} + \varepsilon$$

In [11]:
fare = np.array(data["total_amount"])
distance = np.array(data["trip_distance"]).reshape((-1, 1))
travel_time = np.array(data["trip_time_in_secs"]).reshape((-1, 1))

x = np.concatenate((distance, travel_time), axis=1)

# create a linear regression model and fit it to the data
fare_model = LinearRegression().fit(x, fare)

# calculate R-squared
r_squared = fare_model.score(x, fare)
print("The R squared of the model is: ", r_squared)

The R squared of the model is:  0.8705780665239198

From above, we know that the fitting of this fare model is good. So that we can use the above model for fare simulation.

In [12]:
beta0 = fare_model.intercept_
beta1 = fare_model.coef_[0]
beta2 = fare_model.coef_[1]

The average distances of zone i to zone j can also be calculated.

In [13]:
# create a 2-dimension list to store the average distance between zones.
# in this scenerio we assume dis(i, j) != dis(j, i)
average_distance_mean = [
    [0] * number_of_zone for _ in range(number_of_zone)
]
average_distance_std = [
    [0] * number_of_zone for _ in range(number_of_zone)
]

for i in range(number_of_zone):
    for j in range(number_of_zone):
        df = data[(data["pickup_zone"] == i)
                  & (data["dropoff_zone"] == j)]
        average_distance_mean[i][j] = df["trip_distance"].mean()
        average_distance_std[i][j] = df["trip_distance"].std()

We can write another function to calculate the simulated fare

In [14]:
def simulated_distance(i, j):
    return random.gauss(average_distance_mean[i][j],
                        average_distance_std[i][j])

def simulated_fare(distance, time):
    return beta0 + beta1 * distance + beta2 * time

Therefore, we have already completed simulation on trip number, trip time and trip fare.

For example, we can randomly select i, k as follows

In [15]:
# for a driver in zone 7 at time of 18:30
i, k = 7, 18 * 60 + 30

print("Does he need to wait for next available order: ",
      len(available_trip(i, k)) == 0)
print("What are the available zones to go to: ",
     available_trip(i, k))
print("Randomly choose an order... \n")

j = random.choice(available_trip(i, k))
sim_dis = simulated_distance(i, j)

print("He has taken the trip to zone", j)
print("Simulated time: ", simulated_time[i][j][k], "seconds")
print("Simulated distance: ", sim_dis, "miles")
print("Simulated fare: ",
      simulated_fare(sim_dis, simulated_time[i][j][k]),
     "dollars")

Does he need to wait for next available order:  False
What are the available zones to go to:  [24]
Randomly choose an order...

He has taken the trip to zone 24
Simulated time:  1916.0061923641524 seconds
Simulated distance:  3.104455481135482 miles
Simulated fare:  22.640419633947324 dollars

Or if a driver has to wait for next available order

In [16]:
# for a driver in zone 10 at time of 02:06
i, k = 10, 2 * 60 + 6

print("Does he need to wait for next available order: ",
      len(available_trip(i, k)) == 0)
print("The waiting time for next available order: ", wait_time[i][k], "\n")
print("After", wait_time[i][k], "minute(s)")
k += wait_time[i][k]
print("What are the available zones to go to: ",
     available_trip(i, k))
print("Randomly choose an order... \n")

j = random.choice(available_trip(i, k))
sim_dis = simulated_distance(i, j)

print("He has taken the trip to zone", j)
print("Simulated time: ", simulated_time[i][j][k], "seconds")
print("Simulated distance: ", sim_dis, "miles")
print("Simulated fare: ",
      simulated_fare(sim_dis, simulated_time[i][j][k]),
     "dollars")

Does he need to wait for next available order:  False
The waiting time for next available order:  0

After 0 minute(s)
What are the available zones to go to:  [0, 8, 23, 39]
Randomly choose an order...

He has taken the trip to zone 23
Simulated time:  359.6779085886314 seconds
Simulated distance:  1.7100933878873443 miles
Simulated fare:  9.158974284948853 dollars

# Driver strategy 1

As the most intuitive strategy, Driver 1 prefer to start at a initial zone, waiting for the first come trip. After completing the current trip, Driver 1 will wait at the new location and repeat the same process.

The simulation process is conducted by function `driver_sim1()`. 

- The default start time is **8:00 a.m.** and the end time is **22:00 p.m.** 
- Driver 1 will rest for 30 min after the first trip finished after **12:00 p.m.** and after **4:30 p.m.**
- Driver 1 will finish all trips assigned before 22:00 p.m.

In [24]:
import datetime 
def driver_sim1(i_start,k_start = 8*60,k_end = 22*60):
    
    print(f'{str(datetime.timedelta(minutes=k_start))} : Driver 1 start working at zone {i_start}')
    
    # initialization
    
    cur_i = i_start
    cur_k = k_start
    cur_fare = 0
    cur_case = 0
    rest1 = 0
    rest2 = 0
    
    while cur_k <= k_end:
        
        # trip quiry
        # set initial waiting time as 0
        wt = 0
        
        while len(available_trip(cur_i, cur_k)) == 0:
            wt = wait_time[cur_i][cur_k]
            cur_k += wt
        
        j = random.choice(available_trip(cur_i, cur_k))
        sim_dis = simulated_distance(cur_i, j)
        print(f'{str(datetime.timedelta(minutes=cur_k - wt))} : New trip from zone {cur_i} to zone {j} assigned!!!')
        print(f'{str(datetime.timedelta(minutes=cur_k))} : New trip from zone {cur_i} to zone {j} started!!!')
        
        # trip ongoing
        cur_k += math.ceil(simulated_time[cur_i][j][cur_k]/60)
        cur_i = j
        cur_fare +=  simulated_fare(sim_dis, simulated_time[cur_i][j][cur_k])
        print(f'{str(datetime.timedelta(minutes=cur_k))} : Trip completed at {cur_i},Total fare = $ {cur_fare}')
        
        # rest time
        if cur_k > 12*60 and rest1 == 0:
            cur_k += 30 
            print(f'{str(datetime.timedelta(minutes=cur_k))} : Rest for 30 min ')
            rest1 = 1
            
        if cur_k > 16*60 + 30 and rest2 == 0:
            cur_k += 30 
            print(f'{str(datetime.timedelta(minutes=cur_k))} : Rest for 30 min ')
            rest2 = 1
            
        cur_case += 1
    
    
    print(f'\n From {str(datetime.timedelta(minutes=k_start))} to {str(datetime.timedelta(minutes=cur_k))} : {cur_case} trips finished ($ {cur_fare}!!!)')

Try to simulate Driver 1 start working at zone 10:

In [25]:
driver_sim1(22,8*60)

8:00:00 : Driver 1 start working at zone 22
8:00:00 : New trip from zone 22 to zone 12 assigned!!!
8:00:00 : New trip from zone 22 to zone 12 started!!!
8:07:00 : Trip completed at 12,Total fare = $ 9.362467277147202
8:07:00 : New trip from zone 12 to zone 25 assigned!!!
8:07:00 : New trip from zone 12 to zone 25 started!!!
8:41:00 : Trip completed at 25,Total fare = $ 27.27117320496606
8:41:00 : New trip from zone 25 to zone 3 assigned!!!
8:41:00 : New trip from zone 25 to zone 3 started!!!
9:05:00 : Trip completed at 3,Total fare = $ 46.55150985953312
9:05:00 : New trip from zone 3 to zone 5 assigned!!!
9:05:00 : New trip from zone 3 to zone 5 started!!!
9:13:00 : Trip completed at 5,Total fare = $ 52.66364540589702
9:13:00 : New trip from zone 5 to zone 5 assigned!!!
9:13:00 : New trip from zone 5 to zone 5 started!!!
9:16:00 : Trip completed at 5,Total fare = $ 58.74042566786534
9:16:00 : New trip from zone 5 to zone 23 assigned!!!
9:16:00 : New trip from zone 5 to zone 23 started!!!
9:36:00 : Trip completed at 23,Total fare = $ 72.19249164824532
9:36:00 : New trip from zone 23 to zone 5 assigned!!!
9:36:00 : New trip from zone 23 to zone 5 started!!!
9:58:00 : Trip completed at 5,Total fare = $ 84.3794074960313
9:58:00 : New trip from zone 5 to zone 18 assigned!!!
9:58:00 : New trip from zone 5 to zone 18 started!!!
10:21:00 : Trip completed at 18,Total fare = $ 98.72068514527064
10:21:00 : New trip from zone 18 to zone 3 assigned!!!
10:21:00 : New trip from zone 18 to zone 3 started!!!
10:41:00 : Trip completed at 3,Total fare = $ 112.70856814152124
10:41:00 : New trip from zone 3 to zone 23 assigned!!!
10:41:00 : New trip from zone 3 to zone 23 started!!!
11:05:00 : Trip completed at 23,Total fare = $ 129.59123191306557
11:05:00 : New trip from zone 23 to zone 26 assigned!!!
11:05:00 : New trip from zone 23 to zone 26 started!!!
11:23:00 : Trip completed at 26,Total fare = $ 136.90483135390096
11:23:00 : New trip from zone 26 to zone 24 assigned!!!
11:23:00 : New trip from zone 26 to zone 24 started!!!
11:30:00 : Trip completed at 24,Total fare = $ 144.8849060568188
11:30:00 : New trip from zone 24 to zone 29 assigned!!!
11:30:00 : New trip from zone 24 to zone 29 started!!!
11:40:00 : Trip completed at 29,Total fare = $ 152.09846960022193
11:40:00 : New trip from zone 29 to zone 12 assigned!!!
11:40:00 : New trip from zone 29 to zone 12 started!!!
12:15:00 : Trip completed at 12,Total fare = $ 177.91485791003632
12:45:00 : Rest for 30 min
12:45:00 : New trip from zone 12 to zone 16 assigned!!!
12:45:00 : New trip from zone 12 to zone 16 started!!!
12:50:00 : Trip completed at 16,Total fare = $ 184.61645152290686
12:50:00 : New trip from zone 16 to zone 13 assigned!!!
12:50:00 : New trip from zone 16 to zone 13 started!!!
12:57:00 : Trip completed at 13,Total fare = $ 193.25167610784555
12:57:00 : New trip from zone 13 to zone 17 assigned!!!
12:57:00 : New trip from zone 13 to zone 17 started!!!
13:09:00 : Trip completed at 17,Total fare = $ 205.87451033621952
13:09:00 : New trip from zone 17 to zone 13 assigned!!!
13:09:00 : New trip from zone 17 to zone 13 started!!!
13:24:00 : Trip completed at 13,Total fare = $ 212.8026289135552
13:24:00 : New trip from zone 13 to zone 3 assigned!!!
13:24:00 : New trip from zone 13 to zone 3 started!!!
13:39:00 : Trip completed at 3,Total fare = $ 222.46509647686386
13:39:00 : New trip from zone 3 to zone 13 assigned!!!
13:39:00 : New trip from zone 3 to zone 13 started!!!
13:55:00 : Trip completed at 13,Total fare = $ 232.35855893143284
13:55:00 : New trip from zone 13 to zone 14 assigned!!!
13:55:00 : New trip from zone 13 to zone 14 started!!!
14:05:00 : Trip completed at 14,Total fare = $ 238.45054447461166
14:05:00 : New trip from zone 14 to zone 7 assigned!!!
14:05:00 : New trip from zone 14 to zone 7 started!!!
14:18:00 : Trip completed at 7,Total fare = $ 246.20945851840102
14:18:00 : New trip from zone 7 to zone 10 assigned!!!
14:18:00 : New trip from zone 7 to zone 10 started!!!
14:25:00 : Trip completed at 10,Total fare = $ 253.62835713904985
14:25:00 : New trip from zone 10 to zone 3 assigned!!!
14:25:00 : New trip from zone 10 to zone 3 started!!!
14:41:00 : Trip completed at 3,Total fare = $ 263.748844555842
14:41:00 : New trip from zone 3 to zone 14 assigned!!!
14:41:00 : New trip from zone 3 to zone 14 started!!!
15:18:00 : Trip completed at 14,Total fare = $ 274.63787260746125
15:18:00 : New trip from zone 14 to zone 19 assigned!!!
15:18:00 : New trip from zone 14 to zone 19 started!!!
15:27:00 : Trip completed at 19,Total fare = $ 289.9887041279846
15:27:00 : New trip from zone 19 to zone 19 assigned!!!
15:27:00 : New trip from zone 19 to zone 19 started!!!
15:49:00 : Trip completed at 19,Total fare = $ 297.3600938907906
15:49:00 : New trip from zone 19 to zone 21 assigned!!!
15:49:00 : New trip from zone 19 to zone 21 started!!!
15:59:00 : Trip completed at 21,Total fare = $ 305.62597832893465
15:59:00 : New trip from zone 21 to zone 26 assigned!!!
15:59:00 : New trip from zone 21 to zone 26 started!!!
16:03:00 : Trip completed at 26,Total fare = $ 312.7739829640609
16:03:00 : New trip from zone 26 to zone 19 assigned!!!
16:03:00 : New trip from zone 26 to zone 19 started!!!
16:16:00 : Trip completed at 19,Total fare = $ 324.1341752993564
16:16:00 : New trip from zone 19 to zone 12 assigned!!!
16:16:00 : New trip from zone 19 to zone 12 started!!!
16:31:00 : Trip completed at 12,Total fare = $ 334.4509199063987
17:01:00 : Rest for 30 min
17:01:00 : New trip from zone 12 to zone 9 assigned!!!
17:01:00 : New trip from zone 12 to zone 9 started!!!
17:09:00 : Trip completed at 9,Total fare = $ 342.13221933421613
17:09:00 : New trip from zone 9 to zone 17 assigned!!!
17:09:00 : New trip from zone 9 to zone 17 started!!!
17:17:00 : Trip completed at 17,Total fare = $ 352.0683038651666
17:17:00 : New trip from zone 17 to zone 22 assigned!!!
17:17:00 : New trip from zone 17 to zone 22 started!!!
17:34:00 : Trip completed at 22,Total fare = $ 362.4280609802567
17:34:00 : New trip from zone 22 to zone 32 assigned!!!
17:34:00 : New trip from zone 22 to zone 32 started!!!
17:42:00 : Trip completed at 32,Total fare = $ 373.5640652571203
17:42:00 : New trip from zone 32 to zone 29 assigned!!!
17:42:00 : New trip from zone 32 to zone 29 started!!!
17:51:00 : Trip completed at 29,Total fare = $ 380.69072436370226
17:51:00 : New trip from zone 29 to zone 29 assigned!!!
17:51:00 : New trip from zone 29 to zone 29 started!!!
17:53:00 : Trip completed at 29,Total fare = $ 386.4768815045711
17:53:00 : New trip from zone 29 to zone 5 assigned!!!
17:53:00 : New trip from zone 29 to zone 5 started!!!
18:11:00 : Trip completed at 5,Total fare = $ 408.7497489991593
18:11:00 : New trip from zone 5 to zone 14 assigned!!!
18:11:00 : New trip from zone 5 to zone 14 started!!!
18:21:00 : Trip completed at 14,Total fare = $ 416.5865103151359
18:21:00 : New trip from zone 14 to zone 9 assigned!!!
18:21:00 : New trip from zone 14 to zone 9 started!!!
18:32:00 : Trip completed at 9,Total fare = $ 424.19351860902583
18:32:00 : New trip from zone 9 to zone 13 assigned!!!
18:32:00 : New trip from zone 9 to zone 13 started!!!
18:38:00 : Trip completed at 13,Total fare = $ 432.4935992200051
18:38:00 : New trip from zone 13 to zone 18 assigned!!!
18:38:00 : New trip from zone 13 to zone 18 started!!!
18:50:00 : Trip completed at 18,Total fare = $ 441.0417582767817
18:50:00 : New trip from zone 18 to zone 23 assigned!!!
18:50:00 : New trip from zone 18 to zone 23 started!!!
18:57:00 : Trip completed at 23,Total fare = $ 449.39163098931783
18:57:00 : New trip from zone 23 to zone 4 assigned!!!
18:57:00 : New trip from zone 23 to zone 4 started!!!
19:30:00 : Trip completed at 4,Total fare = $ 460.8358323073374
19:30:00 : New trip from zone 4 to zone 34 assigned!!!
19:30:00 : New trip from zone 4 to zone 34 started!!!
20:05:00 : Trip completed at 34,Total fare = $ 478.1747216096595
20:05:00 : New trip from zone 34 to zone 33 assigned!!!
20:05:00 : New trip from zone 34 to zone 33 started!!!
20:10:00 : Trip completed at 33,Total fare = $ 492.0165183947269
20:10:00 : New trip from zone 33 to zone 36 assigned!!!
20:14:00 : New trip from zone 33 to zone 36 started!!!
20:20:00 : Trip completed at 36,Total fare = $ 498.57779302651784
20:20:00 : New trip from zone 36 to zone 23 assigned!!!
20:20:00 : New trip from zone 36 to zone 23 started!!!
20:30:00 : Trip completed at 23,Total fare = $ 511.8171007841089
20:30:00 : New trip from zone 23 to zone 18 assigned!!!
20:30:00 : New trip from zone 23 to zone 18 started!!!
20:35:00 : Trip completed at 18,Total fare = $ 518.3884049778414
20:35:00 : New trip from zone 18 to zone 36 assigned!!!
20:35:00 : New trip from zone 18 to zone 36 started!!!
20:46:00 : Trip completed at 36,Total fare = $ 529.1632982950073
20:46:00 : New trip from zone 36 to zone 12 assigned!!!
20:46:00 : New trip from zone 36 to zone 12 started!!!
21:04:00 : Trip completed at 12,Total fare = $ 542.1459168857812
21:04:00 : New trip from zone 12 to zone 22 assigned!!!
21:04:00 : New trip from zone 12 to zone 22 started!!!
21:12:00 : Trip completed at 22,Total fare = $ 549.4661334533782
21:12:00 : New trip from zone 22 to zone 5 assigned!!!
21:12:00 : New trip from zone 22 to zone 5 started!!!
21:36:00 : Trip completed at 5,Total fare = $ 562.4856322192148
21:36:00 : New trip from zone 5 to zone 24 assigned!!!
21:36:00 : New trip from zone 5 to zone 24 started!!!
21:51:00 : Trip completed at 24,Total fare = $ 577.0842375841428
21:51:00 : New trip from zone 24 to zone 7 assigned!!!
21:51:00 : New trip from zone 24 to zone 7 started!!!
22:01:00 : Trip completed at 7,Total fare = $ 593.8348567648546

 From 8:00:00 to 22:01:00 : 55 trips finished ($ 593.8348567648546!!!)

# Driver strategy 2

Driver 2 prefer to start at a initial zone,

In [23]:
for i in range(number_of_zone):
        for t in range(8,22):
            if(len(available_trip(i,t*60)) == 0) :
                print(f"No trip from zone {i} at {str(datetime.timedelta(minutes=t*60))}")

No trip from zone 0 at 10:00:00
No trip from zone 1 at 13:00:00
No trip from zone 1 at 17:00:00
No trip from zone 2 at 16:00:00
No trip from zone 3 at 21:00:00
No trip from zone 4 at 12:00:00
No trip from zone 4 at 14:00:00
No trip from zone 4 at 16:00:00
No trip from zone 11 at 15:00:00
No trip from zone 11 at 17:00:00
No trip from zone 11 at 18:00:00
No trip from zone 21 at 17:00:00
No trip from zone 31 at 21:00:00
No trip from zone 33 at 11:00:00
No trip from zone 33 at 16:00:00
No trip from zone 33 at 20:00:00
No trip from zone 33 at 21:00:00
No trip from zone 35 at 10:00:00
No trip from zone 35 at 11:00:00
No trip from zone 35 at 15:00:00
No trip from zone 35 at 16:00:00
No trip from zone 35 at 21:00:00
No trip from zone 36 at 9:00:00
No trip from zone 37 at 16:00:00
No trip from zone 38 at 8:00:00
No trip from zone 38 at 11:00:00
No trip from zone 38 at 12:00:00
No trip from zone 38 at 13:00:00
No trip from zone 38 at 14:00:00
No trip from zone 38 at 21:00:00
No trip from zone 39 at 15:00:00