# Simulation

In this notebook we aim to complete three simulation processes
* the travel time form zone i to zone j start from time k
* the number of travels from zone i to zone j at time k
* find out the correlation of fare on travel distance and travel time

If two trips that start and end in same zone, and begin from same time, we can assume it takes similar times to complete.

## Zone to zone time simulation

In this section we aim to simulate the time it takes for a ride from zone to zone at specific time. This section consists of three parts:
* gather rides that have same pickup and dropoff zones
* apply empirical distribution to simulate PDF
* simulate potential time for rides

### Data import and environment setup

In [43]:
import pandas as pd
import numpy as np
import bisect
import random
import math
from scipy.interpolate import interp1d
from sklearn.linear_model import LinearRegression

# set specific seed for reproduction
random.seed(0)

In [44]:
# import cleaned data from taxi_preprocessing.ipynb
data = pd.read_csv("nyc_data_cleaned.csv")
number_of_zone = len(data["pickup_zone"].unique())
data

,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,total_amount,pickup_hour,pickup_minute,pickup_second,...,dropoff_minute,dropoff_second,pickup_timestamp,dropoff_timestamp,pickup_latitude_count,pickup_longitude_count,dropoff_latitude_count,dropoff_longitude_count,pickup_zone,dropoff_zone
0,1801,5.0,-74.013359,40.714722,-73.972649,40.764694,23.5,18,30,59,...,1,57,66659,68517,2,1,7,5,2,23
1,172,1.0,-73.964958,40.760021,-73.971352,40.751297,7.0,19,19,7,...,22,40,69547,69760,7,6,6,5,24,19
2,260,2.0,-73.960114,40.762142,-73.974434,40.744308,8.5,2,31,6,...,34,46,9066,9286,7,7,5,5,25,15
3,521,2.0,-73.968163,40.802277,-73.984322,40.780106,9.0,12,20,6,...,29,27,44406,44967,11,6,9,4,39,31
4,512,3.0,-73.973289,40.792690,-73.973602,40.763554,10.5,6,9,0,...,18,0,22140,22680,10,5,7,5,36,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347809,907,7.0,-74.005219,40.720135,-73.951187,40.770283,27.0,23,59,49,...,14,56,86389,896,3,2,8,7,5,29
347810,465,2.0,-73.992271,40.729198,-73.975388,40.757710,10.0,23,59,50,...,7,35,86390,455,4,3,6,5,9,19
347811,395,2.0,-73.987450,40.757973,-74.003304,40.750622,8.0,23,59,51,...,6,26,86391,386,6,4,6,2,18,16
347812,948,2.0,-73.993874,40.742134,-73.967232,40.756779,16.2,23,59,58,...,15,46,86398,946,5,3,6,6,13,20
347813,258,1.0,-73.989632,40.741730,-73.990150,40.729553,6.5,23,59,59,...,4,17,86399,257,5,4,4,3,14,9

### Time simulation

In [45]:
# setup a 3-dimensional list to store the simulated result
simulated_time = [
    [
        [0] * (60 * 24) for _ in range(number_of_zone)
    ] for _ in range(number_of_zone)
]

`simulated_time[i][j][k]` means the travel time from zone i to zone j at start_time k.

***Below part can be accelarated***

In [46]:
# a helper function to determine the PDF of empirical distribution of travel_time
# and then do simulation
def empirical_simulation(i, j, t, travel_time, average_time):
    
    # if no data is provided, use the average travel time of the day
    if len(travel_time) == 0:
        simulated_time[i][j][t * 60: (t + 1) * 60] = [average_time] * 60
        return
    
    # simulate ecdf on given time for rides
    ecdf = np.cumsum(np.bincount(travel_time)) / len(travel_time)
    interp_func = interp1d(ecdf,
                           np.arange(len(ecdf)),
                           kind='linear',
                           bounds_error=False,
                           fill_value='extrapolate')

    # generate 60 random samples from the fitted distribution
    # so that each trips start from each minute is simulated in this hour
    samples = interp_func(np.random.uniform(low=0, high=1, size=60*24))
    simulated_time[i][j][t * 60: (t + 1) * 60] = list(samples)

In [47]:
for i in range(number_of_zone):
    for j in range(number_of_zone):
        df = data[(data["pickup_zone"] == i)
                  & (data["dropoff_zone"] == j)]
        average_travel_time = df["trip_time_in_secs"].mean()
        
        # t stands for hour information
        for t in range(24):
            
            # df_sub includes only the rides from zone i to zone j during t:t+1 hour
            df_sub = data[(data["pickup_zone"] == i)
                          & (data["dropoff_zone"] == j)
                          & (data["pickup_hour"] == t)]
        
            # get all the travel time for rides
            cur_travel_time = np.array(df_sub["trip_time_in_secs"]).astype(np.int64)
            empirical_simulation(i, j, t, cur_travel_time, average_travel_time)

Therefore, the `simulated_time` is implemented and is easily accessible.

## Zone to zone trip simulation

In this part we are dealing with simulation on the number of trips. It follows similar ideas to the previous part.

In [48]:
# setup a 3-dimensional list to store the simulated result
simulated_trip = [
    [
        [0] * (60 * 24) for _ in range(number_of_zone)
    ] for _ in range(number_of_zone)
]

In [49]:
# a helper function to determine the PDF of empirical distribution of travel_time
# and then do simulation
def trip_simulation(i, j, t, travel_count):
    samples = np.random.multinomial(travel_count, np.ones(60) / 60)
    simulated_trip[i][j][t * 60: (t + 1) * 60] = list(samples)

In [50]:
for i in range(number_of_zone):
    for j in range(number_of_zone):
        for t in range(24):
            
            # df_sub includes only the rides from zone i to zone j during t:t+1 hour
            df_sub = data[(data["pickup_zone"] == i)
                          & (data["dropoff_zone"] == j)
                          & (data["pickup_hour"] == t)]
        
            # get all the travel time for rides
            cur_trip_number = len(df_sub)
            trip_simulation(i, j, t, cur_trip_number)

Therefore, the `simulated_trip` is implemented and is easily accessible.

We'd also like to find out how long it takes to get next available order in each zone.

In [51]:
# create a 2-dimensional list to store the waiting time
wait_time = [
    [0] * (60 * 24) for _ in range(number_of_zone)
]

for i in range(number_of_zone):
    have_trip = [False] * (60 * 24)
    prev = -1
    
    for k in range(60 * 24 - 1, -1, -1):
        trip = False
        for j in range(number_of_zone):
            if simulated_trip[i][j][k]:
                trip = True
                break
        
        if trip:
            prev = k
            continue
            
        if prev == -1:
            wait_time[i][k] = -1
        else:
            wait_time[i][k] = prev - k

In [52]:
# on contrary, create a function to define what are the available zones to go
def available_trip(i, k):
    ans = []
    for j in range(number_of_zone):
        if simulated_trip[i][j][k]:
            ans.append(j)
    return ans

## Ride fare simulation

In this part we are dealing with simulation of fare for each ride. Conventionally, we believe fare is related to the distances of the ride and the time spent on the ride.

We will fit a linear regression model to find out this correlation. Moreover, we will provide distance information between zones so that price could be simulated for each simulated ride.

We aim to fit the following model:

$$\text{Fare} = \beta_0 + \beta_1 \text{Distance} + \beta_2 \text{Time} + \varepsilon$$

In [53]:
fare = np.array(data["total_amount"])
distance = np.array(data["trip_distance"]).reshape((-1, 1))
travel_time = np.array(data["trip_time_in_secs"]).reshape((-1, 1))

x = np.concatenate((distance, travel_time), axis=1)

# create a linear regression model and fit it to the data
fare_model = LinearRegression().fit(x, fare)

# calculate R-squared
r_squared = fare_model.score(x, fare)
print("The R squared of the model is: ", r_squared)

The R squared of the model is:  0.8705780665239198

From above, we know that the fitting of this fare model is good. So that we can use the above model for fare simulation.

In [54]:
beta0 = fare_model.intercept_
beta1 = fare_model.coef_[0]
beta2 = fare_model.coef_[1]

The average distances of zone i to zone j can also be calculated.

In [55]:
# create a 2-dimension list to store the average distance between zones.
# in this scenerio we assume dis(i, j) != dis(j, i)
average_distance_mean = [
    [0] * number_of_zone for _ in range(number_of_zone)
]
average_distance_std = [
    [0] * number_of_zone for _ in range(number_of_zone)
]

for i in range(number_of_zone):
    for j in range(number_of_zone):
        df = data[(data["pickup_zone"] == i)
                  & (data["dropoff_zone"] == j)]
        average_distance_mean[i][j] = df["trip_distance"].mean()
        average_distance_std[i][j] = df["trip_distance"].std()

We can write another function to calculate the simulated fare

In [56]:
def simulated_distance(i, j):
    return random.gauss(average_distance_mean[i][j],
                        average_distance_std[i][j])

def simulated_fare(distance, time):
    return beta0 + beta1 * distance + beta2 * time

Therefore, we have already completed simulation on trip number, trip time and trip fare.

For example, we can randomly select i, k as follows

In [57]:
# for a driver in zone 7 at time of 18:30
i, k = 7, 18 * 60 + 30

print("Does he need to wait for next available order: ",
      len(available_trip(i, k)) == 0)
print("What are the available zones to go to: ",
     available_trip(i, k))
print("Randomly choose an order... \n")

j = random.choice(available_trip(i, k))
sim_dis = simulated_distance(i, j)

print("He has taken the trip to zone", j)
print("Simulated time: ", simulated_time[i][j][k], "seconds")
print("Simulated distance: ", sim_dis, "miles")
print("Simulated fare: ",
      simulated_fare(sim_dis, simulated_time[i][j][k]),
     "dollars")

Does he need to wait for next available order:  False
What are the available zones to go to:  [7, 8, 9, 12, 15, 25]
Randomly choose an order...

He has taken the trip to zone 12
Simulated time:  1319.5884548072522 seconds
Simulated distance:  2.1030533038924846 miles
Simulated fare:  16.562445059794033 dollars

Or if a driver has to wait for next available order

In [58]:
# for a driver in zone 10 at time of 02:06
i, k = 10, 2 * 60 + 6

print("Does he need to wait for next available order: ",
      len(available_trip(i, k)) == 0)
print("The waiting time for next available order: ", wait_time[i][k], "\n")
print("After", wait_time[i][k], "minute(s)")
k += wait_time[i][k]
print("What are the available zones to go to: ",
     available_trip(i, k))
print("Randomly choose an order... \n")

j = random.choice(available_trip(i, k))
sim_dis = simulated_distance(i, j)

print("He has taken the trip to zone", j)
print("Simulated time: ", simulated_time[i][j][k], "seconds")
print("Simulated distance: ", sim_dis, "miles")
print("Simulated fare: ",
      simulated_fare(sim_dis, simulated_time[i][j][k]),
     "dollars")

Does he need to wait for next available order:  True
The waiting time for next available order:  1

After 1 minute(s)
What are the available zones to go to:  [2, 14, 18]
Randomly choose an order...

He has taken the trip to zone 14
Simulated time:  119.11006857318657 seconds
Simulated distance:  0.6478918616609002 miles
Simulated fare:  5.42255255758053 dollars

# Driver strategy 1

As the most intuitive strategy, Driver 1 prefer to start at a initial zone, waiting for the first come trip. After completing the current trip, Driver 1 will wait at the new location and repeat the same process.

The simulation process is conducted by function `driver_sim1()`. 

- The default start time is **8:00 a.m.** and the end time is **22:00 p.m.** 
- Driver 1 will rest for 30 min after the first trip finished after **12:00 p.m.** and after **4:30 p.m.**
- Driver 1 will finish all trips assigned before 22:00 p.m.

In [94]:
import datetime 
def driver_sim1(i_start,k_start = 8*60,k_end = 22*60):
    
    print(f'{str(datetime.timedelta(seconds=k_start))} : Driver 1 start working at zone {i_start}')
    
    # initialization
    
    cur_i = i_start
    cur_k = k_start
    cur_fare = 0
    cur_case = 0
    rest1 = 0
    rest2 = 0
    
    while cur_k <= k_end:
        
        # trip quiry
        # set initial waiting time as 0
        wt = 0
        
        while len(available_trip(cur_i, cur_k)) == 0:
            wt = wait_time[cur_i][cur_k]
            cur_k += wt
        
        j = random.choice(available_trip(cur_i, cur_k))
        sim_dis = simulated_distance(cur_i, j)
        print(f'{str(datetime.timedelta(seconds=cur_k - wt))} : New trip from zone {cur_i} to zone {j} assigned!!!')
        print(f'{str(datetime.timedelta(seconds=cur_k))} : New trip from zone {cur_i} to zone {j} started!!!')
        
        # trip ongoing
        cur_k += math.ceil(simulated_time[cur_i][j][cur_k]/60)
        cur_i = j
        cur_fare +=  simulated_fare(sim_dis, simulated_time[cur_i][j][cur_k])
        print(f'{str(datetime.timedelta(seconds=cur_k))} : Trip completed at {cur_i},Total fare = $ {cur_fare}')
        
        # rest time
        if cur_k > 12*60 and rest1 == 0:
            cur_k += 30 
            print(f'{str(datetime.timedelta(seconds=cur_k))} : Rest for 30 min ')
            rest1 = 1
            
        if cur_k > 16*60 + 30 and rest2 == 0:
            cur_k += 30 
            print(f'{str(datetime.timedelta(seconds=cur_k))} : Rest for 30 min ')
            rest2 = 1
            
        cur_case += 1
    
    
    print(f'\n From {str(datetime.timedelta(seconds=k_start))} to {str(datetime.timedelta(seconds=cur_k))} : {cur_case} trips finished ($ {cur_fare}!!!)')

Try to simulate Driver 1 start working at zone 10:

In [97]:
driver_sim1(10,8*60)

0:08:00 : Driver 1 start working at zone 10
0:08:00 : New trip from zone 10 to zone 17 assigned!!!
0:08:00 : New trip from zone 10 to zone 17 started!!!
0:08:14 : Trip completed at 17,Total fare = $ 10.84753611063049
0:08:14 : New trip from zone 17 to zone 25 assigned!!!
0:08:14 : New trip from zone 17 to zone 25 started!!!
0:08:30 : Trip completed at 25,Total fare = $ 22.205472031351626
0:08:30 : New trip from zone 25 to zone 18 assigned!!!
0:08:30 : New trip from zone 25 to zone 18 started!!!
0:08:50 : Trip completed at 18,Total fare = $ 33.3883973209292
0:08:50 : New trip from zone 18 to zone 0 assigned!!!
0:08:50 : New trip from zone 18 to zone 0 started!!!
0:09:04 : Trip completed at 0,Total fare = $ 46.64427078997478
0:09:04 : New trip from zone 0 to zone 5 assigned!!!
0:09:04 : New trip from zone 0 to zone 5 started!!!
0:09:14 : Trip completed at 5,Total fare = $ 57.416577762282536
0:09:14 : New trip from zone 5 to zone 24 assigned!!!
0:09:14 : New trip from zone 5 to zone 24 started!!!
0:09:37 : Trip completed at 24,Total fare = $ 70.37974302819836
0:09:37 : New trip from zone 24 to zone 19 assigned!!!
0:09:37 : New trip from zone 24 to zone 19 started!!!
0:09:53 : Trip completed at 19,Total fare = $ 77.07986086019449
0:09:53 : New trip from zone 19 to zone 20 assigned!!!
0:09:53 : New trip from zone 19 to zone 20 started!!!
0:09:58 : Trip completed at 20,Total fare = $ 84.14541737624596
0:09:58 : New trip from zone 20 to zone 9 assigned!!!
0:09:58 : New trip from zone 20 to zone 9 started!!!
0:10:13 : Trip completed at 9,Total fare = $ 95.73062891440662
0:10:13 : New trip from zone 9 to zone 13 assigned!!!
0:10:13 : New trip from zone 9 to zone 13 started!!!
0:10:21 : Trip completed at 13,Total fare = $ 120.2601476318972
0:10:21 : New trip from zone 13 to zone 19 assigned!!!
0:10:21 : New trip from zone 13 to zone 19 started!!!
0:10:35 : Trip completed at 19,Total fare = $ 129.467246340734
0:10:35 : New trip from zone 19 to zone 24 assigned!!!
0:10:35 : New trip from zone 19 to zone 24 started!!!
0:10:44 : Trip completed at 24,Total fare = $ 136.57390484534517
0:10:44 : New trip from zone 24 to zone 29 assigned!!!
0:10:44 : New trip from zone 24 to zone 29 started!!!
0:10:56 : Trip completed at 29,Total fare = $ 147.6559313811718
0:10:56 : New trip from zone 29 to zone 28 assigned!!!
0:10:56 : New trip from zone 29 to zone 28 started!!!
0:11:01 : Trip completed at 28,Total fare = $ 156.1757235083118
0:11:01 : New trip from zone 28 to zone 23 assigned!!!
0:11:01 : New trip from zone 28 to zone 23 started!!!
0:11:22 : Trip completed at 23,Total fare = $ 162.34639665619218
0:11:22 : New trip from zone 23 to zone 24 assigned!!!
0:11:22 : New trip from zone 23 to zone 24 started!!!
0:11:28 : Trip completed at 24,Total fare = $ 169.00134510306486
0:11:28 : New trip from zone 24 to zone 24 assigned!!!
0:11:28 : New trip from zone 24 to zone 24 started!!!
0:11:32 : Trip completed at 24,Total fare = $ 173.87328397320024
0:11:32 : New trip from zone 24 to zone 0 assigned!!!
0:11:32 : New trip from zone 24 to zone 0 started!!!
0:11:47 : Trip completed at 0,Total fare = $ 193.56460041417657
0:11:47 : New trip from zone 0 to zone 2 assigned!!!
0:11:47 : New trip from zone 0 to zone 2 started!!!
0:11:53 : Trip completed at 2,Total fare = $ 210.112949699826
0:11:53 : New trip from zone 2 to zone 28 assigned!!!
0:11:53 : New trip from zone 2 to zone 28 started!!!
0:12:17 : Trip completed at 28,Total fare = $ 231.45577381138597
0:12:47 : Rest for 30 min
0:12:47 : New trip from zone 28 to zone 34 assigned!!!
0:12:47 : New trip from zone 28 to zone 34 started!!!
0:12:53 : Trip completed at 34,Total fare = $ 237.7090066942597
0:12:53 : New trip from zone 34 to zone 32 assigned!!!
0:12:53 : New trip from zone 34 to zone 32 started!!!
0:13:03 : Trip completed at 32,Total fare = $ 247.40350608063937
0:13:03 : New trip from zone 32 to zone 26 assigned!!!
0:13:03 : New trip from zone 32 to zone 26 started!!!
0:13:05 : Trip completed at 26,Total fare = $ 254.72186597113534
0:13:05 : New trip from zone 26 to zone 22 assigned!!!
0:13:05 : New trip from zone 26 to zone 22 started!!!
0:13:13 : Trip completed at 22,Total fare = $ 262.8328402376707
0:13:13 : New trip from zone 22 to zone 24 assigned!!!
0:13:13 : New trip from zone 22 to zone 24 started!!!
0:13:26 : Trip completed at 24,Total fare = $ 270.1115685159258
0:13:26 : New trip from zone 24 to zone 28 assigned!!!
0:13:26 : New trip from zone 24 to zone 28 started!!!
0:13:31 : Trip completed at 28,Total fare = $ 277.8456106803774
0:13:31 : New trip from zone 28 to zone 28 assigned!!!
0:13:31 : New trip from zone 28 to zone 28 started!!!
0:13:38 : Trip completed at 28,Total fare = $ 284.8365731703189
0:13:38 : New trip from zone 28 to zone 25 assigned!!!
0:13:38 : New trip from zone 28 to zone 25 started!!!
0:13:52 : Trip completed at 25,Total fare = $ 290.29547519841606
0:13:52 : New trip from zone 25 to zone 22 assigned!!!
0:13:52 : New trip from zone 25 to zone 22 started!!!
0:14:17 : Trip completed at 22,Total fare = $ 299.8595881538073
0:14:17 : New trip from zone 22 to zone 8 assigned!!!
0:14:17 : New trip from zone 22 to zone 8 started!!!
0:14:27 : Trip completed at 8,Total fare = $ 310.5157607337531
0:14:27 : New trip from zone 8 to zone 9 assigned!!!
0:14:27 : New trip from zone 8 to zone 9 started!!!
0:14:32 : Trip completed at 9,Total fare = $ 317.3846115726224
0:14:32 : New trip from zone 9 to zone 23 assigned!!!
0:14:32 : New trip from zone 9 to zone 23 started!!!
0:14:51 : Trip completed at 23,Total fare = $ 326.36414513745336
0:14:51 : New trip from zone 23 to zone 18 assigned!!!
0:14:51 : New trip from zone 23 to zone 18 started!!!
0:14:59 : Trip completed at 18,Total fare = $ 340.64010413548647
0:14:59 : New trip from zone 18 to zone 6 assigned!!!
0:14:59 : New trip from zone 18 to zone 6 started!!!
0:15:13 : Trip completed at 6,Total fare = $ 349.6339276761803
0:15:13 : New trip from zone 6 to zone 19 assigned!!!
0:15:13 : New trip from zone 6 to zone 19 started!!!
0:15:29 : Trip completed at 19,Total fare = $ 361.6804742127454
0:15:29 : New trip from zone 19 to zone 25 assigned!!!
0:15:29 : New trip from zone 19 to zone 25 started!!!
0:15:36 : Trip completed at 25,Total fare = $ 371.8415117833256
0:15:36 : New trip from zone 25 to zone 36 assigned!!!
0:15:36 : New trip from zone 25 to zone 36 started!!!
0:15:54 : Trip completed at 36,Total fare = $ 410.89900130871627
0:15:54 : New trip from zone 36 to zone 14 assigned!!!
0:15:54 : New trip from zone 36 to zone 14 started!!!
0:16:18 : Trip completed at 14,Total fare = $ 425.63377567271516
0:16:18 : New trip from zone 14 to zone 2 assigned!!!
0:16:18 : New trip from zone 14 to zone 2 started!!!
0:16:38 : Trip completed at 2,Total fare = $ 442.8591626536813
0:17:08 : Rest for 30 min
0:17:08 : New trip from zone 2 to zone 14 assigned!!!
0:17:08 : New trip from zone 2 to zone 14 started!!!
0:17:26 : Trip completed at 14,Total fare = $ 456.02340660611776
0:17:26 : New trip from zone 14 to zone 22 assigned!!!
0:17:26 : New trip from zone 14 to zone 22 started!!!
0:17:39 : Trip completed at 22,Total fare = $ 467.10181023368335
0:17:39 : New trip from zone 22 to zone 19 assigned!!!
0:17:39 : New trip from zone 22 to zone 19 started!!!
0:17:57 : Trip completed at 19,Total fare = $ 477.6637782894024
0:17:57 : New trip from zone 19 to zone 8 assigned!!!
0:17:57 : New trip from zone 19 to zone 8 started!!!
0:18:11 : Trip completed at 8,Total fare = $ 492.4836379883897
0:18:11 : New trip from zone 8 to zone 14 assigned!!!
0:18:11 : New trip from zone 8 to zone 14 started!!!
0:18:20 : Trip completed at 14,Total fare = $ 503.15635779841546
0:18:20 : New trip from zone 14 to zone 32 assigned!!!
0:18:20 : New trip from zone 14 to zone 32 started!!!
0:18:47 : Trip completed at 32,Total fare = $ 518.5341441826979
0:18:47 : New trip from zone 32 to zone 36 assigned!!!
0:18:47 : New trip from zone 32 to zone 36 started!!!
0:18:51 : Trip completed at 36,Total fare = $ 525.2011584182361
0:18:51 : New trip from zone 36 to zone 37 assigned!!!
0:18:51 : New trip from zone 36 to zone 37 started!!!
0:18:56 : Trip completed at 37,Total fare = $ 531.5739323714042
0:18:56 : New trip from zone 37 to zone 28 assigned!!!
0:18:56 : New trip from zone 37 to zone 28 started!!!
0:19:06 : Trip completed at 28,Total fare = $ 565.4958485238553
0:19:06 : New trip from zone 28 to zone 7 assigned!!!
0:19:06 : New trip from zone 28 to zone 7 started!!!
0:19:27 : Trip completed at 7,Total fare = $ 574.5006512664553
0:19:27 : New trip from zone 7 to zone 14 assigned!!!
0:19:27 : New trip from zone 7 to zone 14 started!!!
0:19:38 : Trip completed at 14,Total fare = $ 582.3183322136871
0:19:38 : New trip from zone 14 to zone 10 assigned!!!
0:19:38 : New trip from zone 14 to zone 10 started!!!
0:19:43 : Trip completed at 10,Total fare = $ 591.3622294773096
0:19:43 : New trip from zone 10 to zone 15 assigned!!!
0:19:43 : New trip from zone 10 to zone 15 started!!!
0:19:53 : Trip completed at 15,Total fare = $ 598.1382232596222
0:19:53 : New trip from zone 15 to zone 12 assigned!!!
0:19:53 : New trip from zone 15 to zone 12 started!!!
0:20:09 : Trip completed at 12,Total fare = $ 610.1546572120905
0:20:09 : New trip from zone 12 to zone 19 assigned!!!
0:20:09 : New trip from zone 12 to zone 19 started!!!
0:20:33 : Trip completed at 19,Total fare = $ 617.645653633363
0:20:33 : New trip from zone 19 to zone 17 assigned!!!
0:20:33 : New trip from zone 19 to zone 17 started!!!
0:20:59 : Trip completed at 17,Total fare = $ 624.5902911080077
0:20:59 : New trip from zone 17 to zone 10 assigned!!!
0:20:59 : New trip from zone 17 to zone 10 started!!!
0:21:13 : Trip completed at 10,Total fare = $ 630.5358622349798
0:21:13 : New trip from zone 10 to zone 35 assigned!!!
0:21:13 : New trip from zone 10 to zone 35 started!!!
0:21:29 : Trip completed at 35,Total fare = $ 651.6620062346726
0:21:29 : New trip from zone 35 to zone 24 assigned!!!
0:21:29 : New trip from zone 35 to zone 24 started!!!
0:21:37 : Trip completed at 24,Total fare = $ 661.9381852237884
0:21:37 : New trip from zone 24 to zone 12 assigned!!!
0:21:37 : New trip from zone 24 to zone 12 started!!!
0:21:53 : Trip completed at 12,Total fare = $ 671.9150659680545
0:21:53 : New trip from zone 12 to zone 17 assigned!!!
0:21:53 : New trip from zone 12 to zone 17 started!!!
0:21:59 : Trip completed at 17,Total fare = $ 683.2333463577615
0:21:59 : New trip from zone 17 to zone 6 assigned!!!
0:21:59 : New trip from zone 17 to zone 6 started!!!
0:22:13 : Trip completed at 6,Total fare = $ 695.7720822367993

 From 0:08:00 to 0:22:13 : 61 trips finished ($ 695.7720822367993!!!)